* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

h1, #pick, #code, #crgb {
    text-align: center;
}

h1,#code {
    text-transform: uppercase;
    margin: 30px;
}

input {
    border: none;
}